// Global SCSS Variables for the entire project
// $primary-color: #000080;
$primary-color: rgb(27, 86, 253);
$second-color: rgb(23, 129, 254);
// $second-color:#110f0f ;
$primary-white-color: rgba(23, 131, 254, 0.455);
// $primary-black-color: #08446A;
$text-color: rgb(17, 15, 15);
$text-color-secondary: rgb(82, 82, 82);
$border-color: rgb(238, 239, 239);
$bady-font: "Poppins", sans-serif;
$paragraph-font: "Roboto", sans-serif;
$transition: all 1s ease-in-out;
$transition-fast: all 0.5s linear;
$border-radius: 8px;
$border: 1px solid $border-color;
$box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.02);


// #525252  , #110f0f
