
// Global SCSS Variables for the entire project
// $primary-color: #000080;
$primary-color: #105D63;
$second-color: #C4A164;
// $second-color:#110f0f ;
$primary-white-color: rgba(16, 93, 99, 0.455) ;
// $primary-black-color: #08446A;
$text-color: #110f0f;
$text-color-secondary: #525252;
$border-color: #EEEFEF;
$bady-font: "Poppins", sans-serif;
$paragraph-font: "Roboto", sans-serif;
$transition: all 1s ease-in-out;
$transition-fast: all 0.5s linear;
$border-radius: 8px;
$border: 1px solid $border-color;
$box-shadow: 0 0 0 0.2rem rgba($primary-color, 0.02);


// #525252  , #110f0f

// #105D63  ,  #C4A164