@use '../../../styles/variables.scss' as *;
.tour{
  h3{
    font-size: 18px;
    height: 45px;
    color: $text-color;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

  }
  figcaption{
    height: 100px;
  }

  &:hover{
    h3{color: $primary-color;}
    figcaption{
      height: auto;
    }
    .mainBtn{
      transform: translateY(10%);
    }

  }

  .mainBtn{
    transform: translateY(140%);
    transition: $transition;
  }
}
