<section class="my-5 pt-5">
  <div class="container">
    <owl-carousel-o [options]="partenersOptions">
      @for (partner of partners; track partner.id) {
      <ng-template carouselSlide>
        <figure class="img-Hover mb-0 overflow-hidden rounded-3">
          <img
            loading="lazy"
            [src]="partner.image"
            [alt]="partner.name"
            class="w-100 h-100 transition"
          />
        </figure>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
</section>
