// .partners {
//   padding: 60px 0;
//   background-color: #fff;

//   .section-title {
//     text-align: center;
//     margin-bottom: 50px;
//     font-size: 2.5rem;
//     font-weight: bold;
//     color: #333;
//   }

//   .partner-item {
//     text-align: center;
//     padding: 20px;
//     margin-bottom: 30px;

//     .partner-logo {
//       max-width: 100%;
//       height: auto;
//       filter: grayscale(100%);
//       transition: filter 0.3s ease;

//       &:hover {
//         filter: grayscale(0%);
//       }
//     }
//   }
// }
.img-Hover{
  width: 150px;
  height: 50px;
  position: relative;
}