.why-choose-us {

  background-color: #f2f2ff;
  background-image: url('../../../../assets/image/destination-dt-why-choose-bg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .why-choose-us-card {
    height: 220px;
    padding-top: 30px !important;
  }
}
