@use '../../../styles/variables.scss' as *;
.destination-cart{
  figure{ height: 200px; transition: $transition; -webkit-transition: $transition; -moz-transition: $transition; -ms-transition: $transition; -o-transition: $transition; }
  figcaption{
    padding-bottom: 0 !important;
    h3{ margin-bottom: 0px; }
    h4{ margin-bottom: 0; transform:translateY(40px) ; -webkit-transform:translateY(40px) ; -moz-transform:translateY(40px) ; -ms-transform:translateY(40px) ; -o-transform:translateY(40px) ; }
   }
  &:hover{
    figure{
      height: 160px;
    }
    figcaption{
      h3,h4{color: $primary-color;}
      h3{ margin-bottom: 4px; }
      h4{ margin-bottom: 4px; transform: translateY(0px); -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); }

      }
  }
}
