.destination-details-container {
  padding: 2rem;
}

// Style owl-carousel containers to ensure consistent height
::ng-deep .special-gallery .owl-carousel {
  .owl-stage-outer {
    .owl-stage {
      display: flex;
      align-items: center;

      .owl-item {
        display: flex;
        align-items: stretch;
        height: 400px;

      }

      .owl-item:nth-child(2n) {
        height: 300px !important;

      }
    }
  }
}

// .customer-experience-img {
//   width: 100%;
//   height: 450px;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   img {
//     object-fit: cover;
//     object-position: center;
//     width: 100%;
//     height: 100%;
//   }
// }
