<app-banner
  [title]="category.title"
  [subtitle]="'Explore our categories'"
  [backgroundImage]="category.featured_image || '../../../assets/image/banner.webp'"
></app-banner>

<section class="my-5 py-5">
  <div class="container">
    <h2 class="text-capitalize h3 fw-bold mb-4">tours in this category</h2>
    <div class="row g-3">
      @if (tours.length > 0) { @for (tour of tours; track tour.id) {
      <div class="col-md-6 col-lg-4">
        <app-tour-cart [tour]="tour"></app-tour-cart>
      </div>
      } } @else {
      <div class="col-12">
        <p class="text-center text-danger">No tours found in this category</p>
      </div>
      }
    </div>
  </div>
</section>
