@use '../../../styles/variables.scss' as *;
footer{

 background: url('../../../../assets/image/footer-bg.webp') no-repeat center center , linear-gradient(to right, $primary-color, #110f0f);
 background-size: cover;
 color: #fff;

 h5,h4,h3,h2,h1{
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
 }

 p , a{
  font-size: 0.875rem;
  color: $text-color-secondary !important;
  margin-bottom: 0.5rem;
  text-decoration: none;
  transition: $transition;
  &:hover{
    color: #fff;
  }
 }

 &>div >:first-child.row{
  border-bottom: 1px solid #55555555;
 }

 figure{
  width: 150px;
  height: 100px;
 }

 ul{
  li{
    cursor: pointer;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    padding-left: 0.5rem;
    a{
      transition: $transition-fast;
    }
    &:hover a{
      color: $primary-color !important;
      padding-left: 1.2rem !important;
}
  }
 }


  .footer-bottom {
    text-align: center;
    padding-top: 2rem;
    margin-top: 2rem;
    border-top: 1px solid #55555555;

    a{
      color: #fff !important;
      &:hover{
        color: $primary-color !important;
      }
    }
    p {
      margin: 0;
      color: #ccc;
    }
  }
}


