@use '../../../styles/variables.scss' as *;
.blog-cart{
  height: 300px;
  figure{height: 100% !important;}
  h3{
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .description{
    height: 100px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  &:hover{
    figcaption{
      h3{color: $primary-color;}
    }
  }

  @media (max-width: 992px) {
    height: auto;
    figure{height: 200px !important;}
  }

  @media (max-width: 768px) {
    height: 250px;
    figure{height: 100% !important;}
  }

  @media (max-width: 576px) {
    height: auto;
    figure{height: 200px !important;}
  }
}
