<div
  [routerLink]="['/blog', blog?.slug]"
  role="button"
  class="blog-cart row align-items-center cPointer border rounded-3 overflow-hidden transition mx-2"
>
  <div class="col-lg-5 col-md-12 col-sm-5 px-0 h-100">
    <figure class="img-Hover rounded-2 overflow-hidden position-relative mb-0">
      <img
        class="w-100 h-100 object-fit-cover transition"
        [src]="blog?.featured_image"
        loading="lazy"
        [title]="blog?.title"
        [alt]="blog?.title"
      />
    </figure>
  </div>
  <div class="col-lg-7 col-md-12 col-sm-7">
    <figcaption class="p-2 text-capitalize">
      <p><i class="fas fa-location-dot me-2 textSecondColor"></i> {{ blog?.status }}</p>
      <h3 [routerLink]="['/blog', blog?.slug]" class="text-capitalize transition fs-5 mt-2">
        {{ blog?.title }}
      </h3>
      @if (blog?.created_at) {
      <h5 class="text-muted fs-6">
        <i class="fas fa-calendar-days me-2"></i> {{ blog?.created_at | date : 'dd MMM, yyyy' }}
      </h5>
      }

      <hr />

      <p
        class="description fontsm"
        [innerHTML]="sanitizeHtml(blog?.description || 'No description available')"
      ></p>
    </figcaption>
  </div>
</div>
