<div class="row g-3 my-4">
  <div class="col-12">
    @if (faqs.length > 0) {
    <div class="faq-accordion">
      @for (faq of faqs; track faq.id; let i = $index) {
      <div class="faq-item" [class.active]="isOpen(i)">
        <button
          type="button"
          class="faq-question"
          (click)="toggleFaq(i)"
          [attr.aria-expanded]="isOpen(i)"
        >
          <span class="faq-question-text">{{ faq.question || 'No question' }}</span>
          <span class="faq-icon">
            @if (isOpen(i)) {
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M6 3L10 7H2L6 3Z" fill="currentColor" transform="rotate(180 6 6)" />
            </svg>
            } @else {
            <svg
              width="12"
              height="12"
              viewBox="0 0 12 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M6 3L10 7H2L6 3Z" fill="currentColor" />
            </svg>
            }
          </span>
        </button>
        @if (isOpen(i) && faq.safeAnswer) {
        <div class="faq-answer">
          <div [innerHTML]="faq.safeAnswer"></div>
        </div>
        }
      </div>
      }
    </div>
    } @else {
    <div class="text-center py-5">
      <p class="text-muted">No FAQs available at the moment.</p>
    </div>
    }
  </div>
</div>
